<%= fields_for "category[subcategories_attributes][#{subcategory.persisted? ? subcategory.id : subcategory.object_id}]", subcategory do |form|%>
<div class="col" >
    <%= form.hidden_field :id %>
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: "form-control" %>
    <%= link_to "Delete", category_path(subcategory), data: {turbo_method: :delete},  class: "btn btn-sm btn-danger mb-3" %> 
  </div>
<% end %>
