<% time = Time.now.to_i %>
<h3 class="text-primary"><%= @category.name.upcase %></h3>

<table class="table table-bordered">
  <body>
    <thead>
      <tr>
        <th scope="col">Sub-Category_id</th>
        <th scope="col">Sub-Category</th>
      </tr>
    </thead>
    <%  @category.subcategories.each do |subcategory| %>
      <tr id="<%= dom_id(subcategory) %>_<%= time %>">
        <th ><%= subcategory.id %></th>
        <th ><%= subcategory.name %></th>
        <th > <%= link_to "Delete",category_path(subcategory, object: false, identifier: time), data: {turbo_method: :delete}, class: "btn btn-sm btn-danger mb-3"  %></th>
      </tr>
    <% end %>
  </body>
</table>

<%= link_to "Back to Categories",categories_path, class: "btn btn-sm btn-primary mt-3" %>

