<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Description</th>
      <th scope="col">Amount</th>
      <% if category_name != 'others' %>
        <th scope="col">SubCategory</th>
      <% end %>  
      <th scope="col">Delete</th>
      <th scope="col">Change Category</th>
    </tr>
  </thead>

  <tbody>
    <% if category_name == 'others' %>
      <% transaction_data.each_with_index do |transaction, index| %>
        <tr>
          <td><%= transaction["Date"] %></td> 
          <td><%= transaction["Narration"] %></td> 
          <td><%= transaction["Withdrawal Amt."] %></td> 
          <td><%= link_to "Delete", destroy_transaction_transaction_path(@transaction, category: transaction['category'], sub_category: transaction['sub_category'], index: index), data: { turbo_method: :delete, confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %></td>
          <td id=<%= td_id(transaction['category'], transaction['sub_category'], index) %>>
            <%= link_to "C", change_category_form_transaction_path(@transaction, category: transaction['category'], sub_category: transaction['sub_category'], index: index), data: { turbo_stream: true }, class: 'btn btn-sm btn-primary' %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <% transaction_data.each do |sub_categorycategory, transactions| %>
        <% transactions.each_with_index do |transaction, index| %>
          <tr>
            <td><%= transaction["Date"] %></td> 
            <td><%= transaction["Narration"] %></td> 
            <td><%= transaction["Withdrawal Amt."] %></td>
            <td><%= transaction["sub_category"] %></td>
            <td><%= link_to "Delete", destroy_transaction_transaction_path(@transaction, category: transaction['category'], sub_category: transaction['sub_category'], index: index), data: { turbo_method: :delete, confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %></td>
            <td id=<%= td_id(transaction['category'], transaction['sub_category'], index) %>>
              <%= link_to "C", change_category_form_transaction_path(@transaction, category: transaction['category'], sub_category: transaction['sub_category'], index: index), data: { turbo_stream: true }, class: 'btn btn-sm btn-primary' %>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>  
  </tbody>
</table>
