<h1>Edit <%= @category_name.humanize %> Transactions</h1><br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Description</th>
      <th scope="col">Amount</th>
      <th scope="col">SubCategory</th>
      <th scope="col">Action</th>
    </tr>
  </thead>

  <tbody>
    <% if @category_name == 'others' %>
      <% @transaction_data.each_with_index do |transaction, index| %>
        <tr>
          <td><%= transaction["Date"] %></td> 
          <td><%= transaction["Narration"] %></td> 
          <td><%= transaction["Withdrawal Amt."] %></td> 
          <td><%= transaction["sub_category"] %></td>
          <td><%= link_to "Edit", change_categories_transaction_path(@transaction, category: transaction['category'], sub_category: transaction['sub_category'], index: index), class: 'btn btn-sm btn-primary' %></td>
        </tr>
      <% end %>
    <% else %>
      <% @transaction_data.each do |sub_categorycategory, transactions| %>
        <% transactions.each_with_index do |transaction, index| %>
          <tr>
            <td><%= transaction["Date"] %></td> 
            <td><%= transaction["Narration"] %></td> 
            <td><%= transaction["Withdrawal Amt."] %></td>
            <td><%= transaction["sub_category"] %></td>
            <td><%= link_to "Edit", change_categories_transaction_path(@transaction, category: transaction['category'], sub_category: transaction['sub_category'], index: index), class: 'btn btn-sm btn-primary' %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>  
  </tbody>
</table>

<%= link_to "Back", :back %>
